.aside--left,
.aside--right {
  // outline: 1px solid red;
}

.aside--left {
display: flex; 
align-items: center; 
justify-content: center;
  overflow:hidden;

  .socials__box {
    width: 240px;
    display:flex;
    align-items: center; 
    justify-content: center;
    height: 100%;
    padding-top: 40px;
    transform: rotateZ(-90deg);
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);

    a {
      margin-left: 30px;
    }
  }
}
