.aside--left,
.aside--right {
  // outline: 1px solid red;
}

/*         ASIDE-LEFT
================================*/

.aside--left {
  position:relative;
display: flex; 
align-items: center; 
justify-content: space-evenly;
  overflow:hidden;
  // outline: 1px solid red;

  .copy{
    position:absolute;
    font-size:8px;
    transform:rotateZ(-90deg);
    bottom:10%;
    left:35%;
    width:fit-content;
    text-transform:capitalize;
    opacity:.8;
  }

  .socials__box {
    width: 240px;
    display:flex;
    align-items: center; 
    justify-content: center;
    height: 100%;
    padding-top: 40px;
    transform: rotateZ(-90deg);
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    z-index:20000;

    a {
      margin-left: 30px;
    }
  }
}

/*         ASIDE-RIGHT
================================*/

.aside--right{
  display:flex;
  align-items: center;
  justify-content:center;
}