.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  // align-items:center;
  z-index: 10000;
  padding: 10px 5%;

  .speakers{
    position: relative;
    .fas{
      position: absolute;
    }
  }

  .logo{
    width:36px;
    height:36px;
    border:2px solid white;
    border-radius:50%;
    overflow: hidden;

    img{
      width:30px;
      height:30px;
    }
  }
  
  
  &__list{
    margin-top:0%;
    visibility:hidden;
    // outline:1px solid red;
    width:50%;
    height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    flex-basis:50%;
    z-idex: 20000;

    &--item{
      padding-top: 50px;
      text-transform:capitalize;
      font-size: 2em;
      letter-spacing: 5px;
      margin-left: 35%;
      &--link{
      }
    }
  }

  .menu__box {
    width: 40px;
    height: 40px;
    //outline: 1px solid white;
    position: relative;
    cursor: pointer;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);

    #menu1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 40px;
      height: 1px;
      background-color: white; 
    }

    #menu2{
      width: 30px;
      height: 1px;
      background: white;
      position: absolute;
      top:65%;
    }
  }

  .lang{
    margin-top: 10px;
    cursor:pointer;
  }
}


.menuListToggle{
  visibility:visible;
}

