* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  position: relative;
  background: #000;
  color: #fff;
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
}

h1{
  color:lighten($body-bg-c,5);
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  z-index:-1;
  font-size: 27rem;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}


main{
  overflow:hidden;
}

h2,h3 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {

		&:before, &:after{
      width:100%;
			position: absolute;
			content: attr(data-text);
			transform: translate(-50%,-50%);
			z-index: -1;
		}
 }

 &:before {
  top: 170.5%;
  left: 49.5%;
  color: rgba($color-1,0.8);
  animation: distort1 $base-duration linear infinite;
}

&:after {
  top: 170.5%;
  left: 50.5%;
  color: rgba($color-2,0.8);
  animation: distort2 $base-duration linear infinite;
}

}


ul {
  list-style: none;
}

@keyframes distort1 {
  0%    { top: 78%; left: 49.5%; }
  12.5% { top: 78%; left: 50%; }
  25%   { top: 78%; left: 50.5%; }
  37.5% { top: 78%; left: 50.5%; }
  50%   { top: 78%; left: 50.5%; }
  62.5% { top: 78%; left: 50%; }
  75%   { top: 78%; left: 49.5%; }
  87.5% { top: 78%; left: 49.5%; }
  100%  { top: 78%; left: 49.5%; }
}

@keyframes distort2 {
  0%    { top: 78%; left: 50.5%; }
  12.5% { top: 78%; left: 50.5%; }
  25%   { top: 78%; left: 50.5%; }
  37.5% { top: 78%; left: 50%; }
  50%   { top: 78%; left: 49.5%; }
  62.5% { top: 78%; left: 49.5%; }
  75%   { top: 78%; left: 49.5%; }
  87.5% { top: 78%; left: 50%; }
  100%  { top: 78%; left: 50.5%; }
}