/* BASE*/
@import "./base/vars";
@import "./base/globals";
@import "./base/grid";

/* PARTIALS*/
@import "./partials/nav";
@import "./partials/aside";

.container {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-image: url("../images/wiosny__moon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
  }

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    // border: 1px solid red;
    transform-origin: 100% -100%;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);

    svg{
      position: absolute;
    top: 100%;
    }

    &::after {
      position: absolute;
      bottom: -11px;
      left: -23px;
      content: "";
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    h2 {
      position: absolute;
      text-transform: uppercase;
      overflow: hidden;
    }

    #hw19 {
      bottom: 0;
      right: 0;
    }

    #hnow {
      bottom: 12%;
      right: -11px;
    }
  }
}
